<%- layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="navbar-gap">
      <div class="container">
        <h1> shop smart, save big</h1>
<p> Starting to create something unique</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <p> Signup to start buying</p>
<h3> Start your search here</h3>

          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3> Looking for smart item></h3>
<p>Our prices are some of the best</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Build a smart card.</h3>
<p> Save more!!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>