<%- layout('boilerplate') -%>

<h1> shop smart, save big</h1>
<p> Starting to create something unique</p>

<p> Signup to start buying</p>
<h3> Start your search here</h3>

<p>Our prices are some of the best</p>

<h3> Looking for smart item></h3>
<p> Signup to start buying</p>

<h3>Build a smart card.</h3>
<p> Signup to start buying</p>